# AirBNB Data

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import gmaps
import requests
import time



#from config import (census_key, gkey)
# Import API key

# Output File (CSV)

#Range of latitudes and longitudes
#lat_range = (40.49979, 40.91306)
#lng_range = (-74.24442, -73.71299)
lat_range = (90, 180)
lng_range = (90, 180)

In [3]:
#assign csv to variable
file_one = "AB_NYC_2019_clean.csv"

In [13]:
#Read in csv file
abnb_data = pd.read_csv(file_one, index_col=0)
abnb_data.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.00,2,9
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.00,2,36
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0.00,1,27
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.00,6,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0.00,1,23

In [9]:
#create brooklyn dataframe
brooklyn = abnb_data.groupby("neighbourhood_group")
brooklyn = brooklyn.get_group('Brooklyn')
brooklyn.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
6,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,0.40,1,0
12,5803,9744,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,1.34,3,314
15,6848,15991,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,1.20,1,46

In [11]:
#create manhattan dataframe
manhattan = abnb_data.loc[(abnb_data["neighbourhood_group"]=="Manhattan")]
manhattan.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
5,5099,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,0.59,1,129
7,5178,8967,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,3.47,1,220

In [12]:
#create queens dataframe
queens = abnb_data.loc[(abnb_data["neighbourhood_group"]=="Queens")]
queens.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
46,12937,50124,Queens,Long Island City,40.74771,-73.94740,Private room,130,3,248,2.25,1,215
77,18198,70091,Queens,Woodside,40.75038,-73.90334,Private room,70,30,25,0.22,1,324
143,32363,140025,Queens,Flushing,40.74028,-73.83168,Private room,140,2,1,0.01,1,1
161,39593,110506,Queens,Sunnyside,40.74559,-73.92313,Private room,79,30,28,0.26,1,126
181,45910,204539,Queens,Ridgewood,40.70382,-73.89797,Entire home/apt,350,8,10,0.11,5,365

In [15]:
#create bronxdataframe
bronx = abnb_data.loc[(abnb_data["neighbourhood_group"]=="Bronx")]
bronx.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
171,44096,190409,Bronx,Highbridge,40.83232,-73.93184,Private room,40,1,219,2.04,3,353
207,54626,190409,Bronx,Highbridge,40.83075,-73.93058,Private room,45,1,138,1.45,3,323
260,63588,295128,Bronx,Clason Point,40.81309,-73.85514,Private room,90,2,0,0.00,7,349
261,63610,310670,Bronx,Eastchester,40.88057,-73.83572,Entire home/apt,105,2,38,0.50,13,365
309,71812,369015,Bronx,Kingsbridge,40.87207,-73.90193,Entire home/apt,90,30,4,0.35,2,346

In [18]:
#create staten island dataframe
staten = abnb_data.loc[(abnb_data["neighbourhood_group"]=="Staten Island")]
staten.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
169,42882,185978,Staten Island,St. George,40.64524,-74.08088,Private room,70,2,166,1.66,1,312
249,62452,303939,Staten Island,Tompkinsville,40.63536,-74.08537,Private room,36,2,193,1.85,6,360
250,62461,303939,Staten Island,Tompkinsville,40.63627,-74.08543,Private room,37,2,147,1.44,6,0
251,62787,303939,Staten Island,Tompkinsville,40.63518,-74.08546,Private room,37,2,177,1.71,6,320
256,63320,303939,Staten Island,Tompkinsville,40.63481,-74.08519,Private room,36,2,333,3.19,6,340

In [21]:
#Store latitude and longitude into locations
locations_b = brooklyn[["latitude","longitude"]].astype(float)
locations_m = manhattan[["latitude","longitude"]].astype(float)
locations_q = queens[["latitude","longitude"]].astype(float)
locations_bx = bronx[["latitude","longitude"]].astype(float)
locations_si = staten[["latitude","longitude"]].astype(float)

In [22]:
#Create a air bnb layer for manhattan
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations_b, weights= brooklyn.number_of_reviews,
                                 dissipating=False, max_intensity=100, point_radius=.001)
fig2 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations_m, weights= manhattan.number_of_reviews,
                                 dissipating=False, max_intensity=100, point_radius=.001)



fig1.add_layer(heat_layer)

fig1

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Store latitude and longitude into locations
locations = abnb_data[["latitude","longitude"]].astype(float)

In [10]:
#Create a air bnb layer
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights= abnb_data.price<400,
                                 dissipating=False, max_intensity=100, point_radius=.001)

fig1.add_layer(heat_layer)

fig1

Figure(layout=FigureLayout(height='420px'))