# AirBNB Data

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import gmaps
import requests
import time



#from config import (census_key, gkey)
# Import API key

# Output File (CSV)

#Range of latitudes and longitudes
#lat_range = (40.49979, 40.91306)
#lng_range = (-74.24442, -73.71299)
lat_range = (90, 180)
lng_range = (90, 180)

In [3]:
#assign csv to variable
file_one = "AB_NYC_2019_clean.csv"

In [4]:
#Read in csv file
abnb_data = pd.read_csv(file_one, index_col=0)
abnb_data.head()

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,
2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [5]:
new_df = abnb_data.assign(count="1")

In [6]:
new_df.count()

host_id                           48895
neighbourhood_group               48895
neighbourhood                     48895
latitude                          48895
longitude                         48895
room_type                         48895
price                             48895
minimum_nights                    48895
number_of_reviews                 48895
reviews_per_month                 48895
calculated_host_listings_count    48895
availability_365                  48895
count                             48895
dtype: int64

In [7]:
# new_df['count'].astype(obj).astype(int)
# new_df

new_df['count'] = new_df['count'].astype(float)
new_df
new_df.dtypes

host_id                             int64
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
count                             float64
dtype: object

In [8]:
new_df

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,count
id,,,,,,,,,,,,,
2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365,1.0
2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355,1.0
3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365,1.0
3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194,1.0
5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.00,2,9,1.0
36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.00,2,36,1.0
36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0.00,1,27,1.0
36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.00,6,2,1.0
36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0.00,1,23,1.0

In [9]:
#Determine minimum latitude and longitude
#abnb_data.min()

In [10]:
#Determine maximum latitude and longitude
#abnb_data.max()

In [11]:
#Store latitude and longitude into locations
locations = new_df[["latitude","longitude"]].astype(float)

In [13]:
#Create property locations
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=new_df.latitude, 
                                 dissipating=False, max_intensity=100, point_radius=.001)
fig1.add_layer(heat_layer)
fig1

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Create an air bnb layer
# fig1 = gmaps.figure()
# heat_layer = gmaps.heatmap_layer(locations, weights= new_df.count,
#                                  dissipating=False, max_intensity=100, point_radius=.001)
# fig1.add_layer(heat_layer)
# fig1

In [9]:
new_df.count()

host_id                           48895
neighbourhood_group               48895
neighbourhood                     48895
latitude                          48895
longitude                         48895
room_type                         48895
price                             48895
minimum_nights                    48895
number_of_reviews                 48895
reviews_per_month                 48895
calculated_host_listings_count    48895
availability_365                  48895
count                             48895
dtype: int64

In [ ]:
new_df =numpy.int64(count)

In [18]:
#Create a air bnb layer
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights= abnb_data.price<400,
                                 dissipating=False, max_intensity=100, point_radius=.001)

fig1.add_layer(heat_layer)
fig1

Figure(layout=FigureLayout(height='420px'))