In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd

In [2]:
#assign csv to variable
file_one = "AB_NYC_2019_clean.csv"

In [3]:
#Read in csv file
reg_theory = pd.read_csv(file_one)
reg_theory

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.00,2,9
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.00,2,36
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0.00,1,27
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.00,6,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0.00,1,23

In [4]:
manhattan = reg_theory.loc[(reg_theory["neighbourhood_group"]=="Manhattan")].sample(n=3)
manhattan

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
8796,6748933,1490702,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,6,2,0.04,1,0
12274,9492750,15441931,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,3,102,2.33,1,281
35860,28464743,11320557,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,2,35,4.32,1,6

In [5]:
brooklyn = reg_theory.loc[(reg_theory["neighbourhood_group"]=="Brooklyn")].sample(n=3)
brooklyn

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
2331,1130855,4623093,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,14,79,1.09,1,336
27853,21824124,159091490,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,1,82,4.16,17,355
27413,21620322,5120169,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,2,2,0.10,2,0

In [6]:
queens = reg_theory.loc[(reg_theory["neighbourhood_group"]=="Queens")].sample(n=3)
queens

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
11040,8525477,22420999,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,1,7,0.15,5,344
42665,33119863,42540127,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,10.37,1,6
7686,5805232,3974808,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,1,0,0.00,1,0

In [7]:
bronx = reg_theory.loc[(reg_theory["neighbourhood_group"]=="Bronx")].sample(n=3)
bronx

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
32853,25885278,193497177,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,2,23,1.84,1,89
27749,21778446,129602851,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,7,1,0.06,2,349
34709,27526997,310670,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,2,0,0.00,13,359

In [8]:
statenIsland = reg_theory.loc[(reg_theory["neighbourhood_group"]=="Staten Island")].sample(n=3)
statenIsland

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
41805,32502180,244217480,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,30,3,0.90,1,316
41443,32239170,241924064,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,1,0,0.00,1,87
5387,3892700,46969,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,2,242,4.09,1,256

In [9]:
frames = [manhattan, brooklyn, queens, bronx, statenIsland]
test_sample = pd.concat(frames)
test_sample

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
8796,6748933,1490702,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,6,2,0.04,1,0
12274,9492750,15441931,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,3,102,2.33,1,281
35860,28464743,11320557,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,2,35,4.32,1,6
2331,1130855,4623093,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,14,79,1.09,1,336
27853,21824124,159091490,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,1,82,4.16,17,355
27413,21620322,5120169,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,2,2,0.10,2,0
11040,8525477,22420999,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,1,7,0.15,5,344
42665,33119863,42540127,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,10.37,1,6
7686,5805232,3974808,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,1,0,0.00,1,0
32853,25885278,193497177,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,2,23,1.84,1,89
27749,21778446,129602851,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,7,1,0.06,2,349
34709,27526997,310670,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,2,0,0.00,13,359
41805,32502180,244217480,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,30,3,0.90,1,316
41443,32239170,241924064,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,1,0,0.00,1,87
5387,3892700,46969,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,2,242,4.09,1,256

In [15]:
test_sample.reset_index(drop=True)
test_sample

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
8796,6748933,1490702,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,6,2,0.04,1,0
12274,9492750,15441931,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,3,102,2.33,1,281
35860,28464743,11320557,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,2,35,4.32,1,6
2331,1130855,4623093,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,14,79,1.09,1,336
27853,21824124,159091490,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,1,82,4.16,17,355
27413,21620322,5120169,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,2,2,0.10,2,0
11040,8525477,22420999,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,1,7,0.15,5,344
42665,33119863,42540127,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,10.37,1,6
7686,5805232,3974808,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,1,0,0.00,1,0
32853,25885278,193497177,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,2,23,1.84,1,89
27749,21778446,129602851,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,7,1,0.06,2,349
34709,27526997,310670,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,2,0,0.00,13,359
41805,32502180,244217480,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,30,3,0.90,1,316
41443,32239170,241924064,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,1,0,0.00,1,87
5387,3892700,46969,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,2,242,4.09,1,256

In [16]:
#assign csv to variable
file_two = "testSample.csv"

In [17]:
#Read in csv file
subwayStops = pd.read_csv(file_two)
subwayStops

             id  distance_from_subway
0          2539              0.477918
1          2595              0.059020
2          3647              0.566173
3          3831              0.258098
4          5022              0.241207
...         ...                   ...
48890  36484665              0.134009
48891  36485057              0.297540
48892  36485431              0.223452
48893  36485609              0.073996
48894  36487245              0.394647

[48895 rows x 2 columns]

In [25]:
fullSet = pd.merge(test_sample, subwayStops, on=["id"], how = "left", indicator=True)
fullSet

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_from_subway,_merge
0,6748933,1490702,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,6,2,0.04,1,0,0.032969,both
1,9492750,15441931,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,3,102,2.33,1,281,0.371114,both
2,28464743,11320557,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,2,35,4.32,1,6,0.246219,both
3,1130855,4623093,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,14,79,1.09,1,336,0.327900,both
4,21824124,159091490,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,1,82,4.16,17,355,0.095927,both
5,21620322,5120169,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,2,2,0.10,2,0,0.237215,both
6,8525477,22420999,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,1,7,0.15,5,344,0.363712,both
7,33119863,42540127,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,10.37,1,6,2.593959,both
8,5805232,3974808,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,1,0,0.00,1,0,0.227550,both
9,25885278,193497177,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,2,23,1.84,1,89,1.072488,both
10,21778446,129602851,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,7,1,0.06,2,349,0.187827,both
11,27526997,310670,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,2,0,0.00,13,359,0.181962,both
12,32502180,244217480,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,30,3,0.90,1,316,0.568805,both
13,32239170,241924064,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,1,0,0.00,1,87,0.887244,both
14,3892700,46969,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,2,242,4.09,1,256,0.172907,both

In [33]:
fullSet["expected_price"] = fullSet.distance_from_subway*(-24.447) + 160.42
fullSet

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_from_subway,_merge,expected_price
0,6748933,1490702,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,6,2,0.04,1,0,0.032969,both,159.614016
1,9492750,15441931,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,3,102,2.33,1,281,0.371114,both,151.347387
2,28464743,11320557,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,2,35,4.32,1,6,0.246219,both,154.400694
3,1130855,4623093,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,14,79,1.09,1,336,0.327900,both,152.403831
4,21824124,159091490,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,1,82,4.16,17,355,0.095927,both,158.074882
5,21620322,5120169,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,2,2,0.10,2,0,0.237215,both,154.620806
6,8525477,22420999,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,1,7,0.15,5,344,0.363712,both,151.528327
7,33119863,42540127,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,10.37,1,6,2.593959,both,97.005487
8,5805232,3974808,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,1,0,0.00,1,0,0.227550,both,154.857088
9,25885278,193497177,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,2,23,1.84,1,89,1.072488,both,134.200883
10,21778446,129602851,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,7,1,0.06,2,349,0.187827,both,155.828184
11,27526997,310670,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,2,0,0.00,13,359,0.181962,both,155.971584
12,32502180,244217480,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,30,3,0.90,1,316,0.568805,both,146.514434
13,32239170,241924064,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,1,0,0.00,1,87,0.887244,both,138.729558
14,3892700,46969,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,2,242,4.09,1,256,0.172907,both,156.192946

In [54]:
#fullSet = fullSet.drop("host_id", 1)
fullSet = fullSet.drop("_merge",1)
fullSet

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,distance_from_subway,expected_price
0,6748933,Manhattan,Chelsea,40.74121,-74.00122,Entire home/apt,145,0.032969,159.614016
1,9492750,Manhattan,Harlem,40.80965,-73.94553,Entire home/apt,190,0.371114,151.347387
2,28464743,Manhattan,Chinatown,40.71624,-73.99995,Private room,100,0.246219,154.400694
3,1130855,Brooklyn,Prospect Heights,40.67673,-73.96399,Private room,90,0.327900,152.403831
4,21824124,Brooklyn,Gowanus,40.67860,-73.98381,Private room,139,0.095927,158.074882
5,21620322,Brooklyn,Bedford-Stuyvesant,40.68344,-73.95329,Private room,50,0.237215,154.620806
6,8525477,Queens,Richmond Hill,40.69474,-73.83038,Private room,55,0.363712,151.528327
7,33119863,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2.593959,97.005487
8,5805232,Queens,Ditmars Steinway,40.77780,-73.91440,Private room,150,0.227550,154.857088
9,25885278,Bronx,Throgs Neck,40.82257,-73.83773,Entire home/apt,100,1.072488,134.200883
10,21778446,Bronx,Pelham Bay,40.84607,-73.83842,Entire home/apt,99,0.187827,155.828184
11,27526997,Bronx,Eastchester,40.88017,-73.83574,Entire home/apt,475,0.181962,155.971584
12,32502180,Staten Island,Arden Heights,40.54857,-74.17628,Entire home/apt,83,0.568805,146.514434
13,32239170,Staten Island,Shore Acres,40.60525,-74.06745,Entire home/apt,300,0.887244,138.729558
14,3892700,Staten Island,Clifton,40.62050,-74.07451,Entire home/apt,70,0.172907,156.192946